
body {
  background-color: #FFFFFF;
  font-size: 16px;
  font: Helvetica, Ariel, sans-serif;
  color: #211A1D;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

html {
  height: 101%;
}

h1 {
  font-family: overpass;
  text-align: center;
  font-weight: bolder;
}

footer-copyright {
  font-size: 15px;
}

a {
  font-weight: bolder;
  color:#4ECDC4;
}

a:hover {
  font-weight: bolder;
  color: #4ECDC4;
}

/*.....................................
  title
 ......................................*/
.welcome {
  height: 800px;
  background-color: #292F36;
}

.welcome-text {
  margin-top: -10px;
  color: #FFFFFF
}

.page-title {
  font-family: overpass;
  font-size: 120px;
  font-weight: bolder;
  color: #4ECDC4;
  line-height: 120px;
  text-align: center;
}

.inspire-container {

}

.card {
  margin-top:    5px;
  margin-bottom: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.card a {
  font-size: 25px;
  font-family: overpass;
  font-weight: bolder;
  color:#4ECDC4;
}

.card h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
}
