
body {
  background-color: #f7f7f7;
  font-size: 20px;
  font: Helvetica, Ariel, sans-serif;
  color: #211A1D;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/*.....................................
  navbar
 ......................................*/
.bg-navbar {
  background-color: #f7f7f7;
}

/*.....................................
  title
 ......................................*/
.page-title {
  font-family: overpass;
  font-size: 40px;
  font-weight: bolder;
  color: #FAA916;
}

.page-title:hover{
  color: #fccc73;
  text-decoration: none;
}

.container section:first-child {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

/*.....................................
  content
 ......................................*/

.default-content {
  color: #211A1D;
}

.default-content a {
  font-weight: bold;
  color: #FAA916;
}

.default-content a:hover {
  text-decoration: none;
  color: #fccc73;
}

.small-content {
  font-size: 15px;
}

.separator {
  width:60%;
}

/*.....................................
  main image
 */

.main-bg {
  background: url('../images/fnalimg.jpg') 0 0 no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  text-align: left;
  min-height: 700px;
}

.main-bg p {
  color: #f7f7f7;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

/*.....................................
  boxes
 ......................................*/
.nova-block {
  background: url('../images/nova.png') 0 0 no-repeat;
}

.dune-block {
  background: url('../images/dune.png') 0 0 no-repeat;
}

.ub-block {
  background: url('../images/uboone.png') 0 0 no-repeat;
}

.nova-block,
.dune-block,
.ub-block {
  background-size: cover;
  position: relative;
  background-position: center;
  text-align: center;
  min-height: 200px;
}

.nova-block:hover .overlay-nova,
.ub-block:hover .overlay-ub,
.dune-block:hover .overlay-dune {
  opacity: 1;
  cursor: pointer;
}


.overlay-nova,
.overlay-dune,
.overlay-ub{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  overflow: hidden;
}

.overlay-nova{
  background-color: rgba(255, 206, 45, 0.6);
}

.overlay-dune{
  background-color: rgba(241, 80, 37, 0.6);
}

.overlay-ub{
  background-color: rgba(215, 60, 103, 0.6);
}

.nova-block a,
.dune-block a,
.ub-block a {
  color: #fff;
}

.nova-block h3,
.dune-block h3,
.ub-block h3 {
  color: #fff;
  font-weight:bold;
  padding: 100px 30px;
  text-shadow: 0px 0px 5px #000;
}

@media screen and (max-width: 768px) {
  .nova-block,
  .dune-block,
  .ub-block {
    margin-bottom: 20px
  }
}