<style>
html {
	min-height: 100%;
	margin: 0;
	position: relative;
}

@font-face {
    font-family: 'bebas';
    src: url('fonts/bebas-webfont.woff') format('woff'),
         url('fonts/bebas-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cicle';
    src: url('fonts/Cicle_Semi-webfont.woff') format('woff'),
         url('fonts/Cicle_Semi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
	
body {
	margin: 0 0 32px;
	background: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	font-family: 'Cicle', serif;
	font-size: 20px;
	line-height:175%;
	color: #515151;
	overflow-y: scroll;
}

	p {
		margin: 0px;	
	}
	
	a , a:visited {
		text-decoration: none;
		color: #515151;
	}
	
	h2 {
		font-family: 'cicle', sans-serif;
		font-size: 35px;
		color: #515151;
		padding: 0 auto 0 auto;
		display: inline;
	}
	
	h3 {
		font-family: 'cicle', sans-serif;
		font-size: 20px;
		color: #8C8C8C;
	}
	

	#header {
		background-color: white;
		color: /*#EA7000*/#33CC3A;
		padding:0px;
		margin:0px;
		height: 90px;
	}

		#headerinner {
			height:90px;
			width:80%;
			max-width:800px;
			min-width:600px;
			margin: 0 auto 0 auto;
		}

		#titlecontainer {
			/*background: url(images/title.png);*/
			text-align:left;
			width:500px;
			float:left;
			height: 90px;
			padding-top: 20px;
			}
		
			#titlecontainer h1 {
				font-weight: 400;
				font-size: 60px;
				font-family: 'bebas', sans-serif;
			}

	#navbar {
		background-color: white;
		height: 50px;
		width:100%;
		margin: 0 0 25px 0;
		padding-top: 0px;
		font-size: 0;
	}

		#navbarinner {
			width:80%;
			max-width:800px;
			min-width:600px;
			height: 50px;
			background-color:white;
			margin: 0 auto;
			padding-top: 0px;
		}
		
			#navbarinner ul {
				list-style-type: none;
				padding: 0;
				width:400px;
			}
			
			#navbarinner li {
				float: left;
	
			}
			
			#navbar a {
				float:left;
				color: /*#EA7000*/#33CC3A;
				display: inline;
				text-decoration: none;
				padding-right: 61px;
				font-size: 24px;
				font-family: 'cicle', sans-serif;
			}

				
	#content {
		/*background-color:#D4D4D4;*/
		color: #515151;
		width:100%;
		padding-top:0px;
		min-height: 100%;
	}

		#contentinner {
			background-color: rgba(255,255,255,0.8);
			border-radius: 3px;
			width: 80%;
			max-width: 800px;
			min-width: 600px;
			margin: 0px auto 50px auto;
			padding: 10px 20px 15px 20px;
		}
		
			#contactme {
				width: 240px;
				margin: 0 auto 0 auto;
				height: 80px;
			}
		
				.twitlink:link,  .twitlink:visited {
					color: #00aced;
				}
				
				.lilink:link, .lilink:visited {
					color: #007bb6;
				}
				
				.gitlink:link, .gitlink:visited {
					color: #666666;
				}
			
	#footer {
		bottom: 0;
		height: 32px;
		left: 0;
		position: Fixed;
		/*position: absolute;*/ /*for when content is longer than page length!*/
		/*padding: -32px;*/ /*find a way to make this happen dynamically (sticky footer)*/
		width: 100%;
		background-color: white;
	}	
	
	#footer p {
		padding-top:2px;
		color: #515151;;
		text-align: center;
		font-size: 8px;
	}

</style>
