<style>

html {
	font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
	min-height: 100%;
	margin: 0;
	position: relative;
}

body {
	font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
	margin: 0 0 32px;
	background: url(images/bg.JPG) no-repeat center center fixed #D4D4D4;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

	p {
		margin: 0px;	
		font-family: "proxima-nova","Helvetica Neue", Arial, sans-serif;
	}
	

	#header {
		background-color:white;
		color:black;
		text-align:center;
		padding:0px;
		margin:0px;
		height: 100px;
	}

		#headerinner {
			height:100px;
			width:80%;
			max-width:800px;
			min-width:600px;
			margin: 0 auto;
		}

		#titlecontainer {
			background: url(images/title.png);
			text-align:center;
			width:200px;
			float:left;
			margin:0 0 0 25px;
			height:100px;
		}

	#navbar {
		background-color:#101010;
		color: #D4D4D4;
		height: 50px;
		width:100%;
		padding-top:0px;
		margin:0 0 25px 0;
	}

		#navbarinner {
		width:80%;
		max-width:800px;
		min-width:600px;
		margin: 0 auto;
		height:50px;
		padding-top:0;
		}
		
			#navbarinner ul {
				list-style-type: none;
				margin: 0;
				padding: 15px 0 0 35px;
			}
			
			#navbarinner li {
				float: left;
	
			}
			
			#navbar a {
				color: #D4D4D4;
				display: block;
				font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
				text-decoration: none;
				width: 120px;
			}			
				
	#content {
		/*background-color:#D4D4D4;*/
		color:black;
		width:100%;
		padding-top:0px;
		min-height: 100%;
	}

		#contentinner {
			background-color: rgba(255,255,255,0.8);
			border-radius: 3px;
			width: 80%;
			max-width: 800px;
			min-width: 600px;
			margin: 0px auto;
			padding: 10px 20px 25px 20px;
		}
		
		
			#contentinner ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				margin: 0 auto;
			}

			#contentinner li {
				float:left;
				padding:10px;
			}
			
			#contentinner a {
				display:block;
				padding: 0;
				width:60px;
			}
			
		#contactmecontainer {
				width: 100%;
				height: 80px;
		}
		
			#contactme {
				width: 240px;
				margin: 0 auto 0 auto;
				height: 80px;
			}
		
				.twitlink {
					width:60px;
					height:60px;
					display: block;
					background: url(images/Twitter.png) center top no-repeat;
				}
				
				.lilink {
					width: 60px;
					height: 60px;
					display: block;
					background: url(images/LinkedIN.png) center top no-repeat;
				}
				
				.gitlink {
					width: 60px;
					height: 60px;
					display: block;
					background: url(images/Github.png) center top no-repeat;
				}
			
	#footer {
		bottom: 0;
		height: 32px;
		left: 0;
		position: absolute;
		width: 100%;
		background-color: #101010;
	}	
	
	#footer p {
		padding-top:10px;
		color: #D4D4D4;
		text-align: center;
		font-size: 8px;
	}

</style>
