<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="The personal webpage of Adam Lister">
		<link rel="stylesheet" type="text/css" href="/../stylesheet.css">
	</head>
	<body>
		<div id="header">
			<div id="headerinner">
				<div id="titlecontainer">
				<h1>Adam Lister.</h1>
				</div>
			</div>
		</div>
		<div id="navbar">
			<div id="navbarinner">
				<ul>
					<li><a href="index.html">HOME</a></li>
					<li><a href="projects.html">PROJECTS</a></li>
					<li><a href="http://admlw.github.io/blog">BLOG</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
		  <div id="contentinner">
		    {{ content }}
		  </div>  
		</div>
		
		
	</body>
</html>
