<!doctype html>
<html lang="en">
	<head>
 <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="The personal webpage of Adam Lister">
		<link rel="stylesheet" type="text/css" href="/../stylesheet.css">
	</head>
	<body>
		<div id="header">
			<div id="headerinner">
				<div id="titlecontainer">
				<h1>adam lister</h1>
				</div>
			</div>
		</div>
		<div id="navbar">
			<div id="navbarinner">
				<ul>
					<li><a href="http://adamlister.net/">home</a></li>
					<li><a href="http://adamlister.net/projects">projects</a></li>
				<!---	<li><a href="http://adamlister.net/blog/">BLOG</a></li> --->
				</ul>
			</div>
		</div>
		<div id="content">
		  <div id="contentinner">
		    {{ content }}
		  </div>  
		</div>
		
	</body>
</html>
